<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <div>
    {{ .Email }}
  </div>

  <div>
    <a href="./edit_event">Add New Event</a>
  </div>

  <div>
  {{ $activeEvents := .ActiveEvents }}
    {{ range $index, $rootEvent := .RootEvents }}
      <div>
        {{ $activeEvent := index $activeEvents $index }}

          {{ if $activeEvent.Complete }}
             {{ $activeEvent.Name }} [{{ $rootEvent.Name }}] event series complete
          {{ else }}
            {{ $activeEvent.Name }} [{{ $rootEvent.Name }}] <a href="/complete_event?rid={{$rootEvent.ID}}&id={{$activeEvent.ID}}">complete</a>
          {{ end }}

        <button disabled onclick="redirect('/edit_event?id={{$rootEvent.ID}}')">edit</button>
      </div>
    {{ end }}
  </div>
<script>
function redirect(url) {
  location = url;
}
</script>
</body>
</html>
